@import '../themes.css';

.timer-module {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font);
    gap: 25px;
}

.timer-label {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 0.8rem;
}

.timer {
    font-size: 8rem;
}

.pomodoro-start-stop-btn {
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-small);
  color: var(--font-primary);
  height: 50px;
  width: 100px;
  padding: 10px;
}

.pomodoro-start-stop-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* sidebar */
.sidebar-timer .timer-label {
  top: 5px;
  left: 15px;
}

.sidebar-timer .timer {
    font-size: 6rem;
}

.sidebar-timer .pomodoro-start-stop-btn {
    height: 40px;
    width: 75px;
}
