@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400&display=swap');
@import url('./themes.css');

#filetree {
    background-color: var(--bg-secondary);
    height: 100vh;
    width: 300px;
    transition: width 0.3s ease;
    z-index: 101;
}

#filetree.closed {
    width: 0px;
    overflow: hidden;
    border: none;
}

#filetree-nav {
    width: 100%;
    height: 37px;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    list-style: none;
    background-color: var(--bg-tertiary);
}

.filetree-nav-item {
    height: 20px;
    aspect-ratio: 1;
}

.filetree-nav-item:hover {
    background-color: gray;
}

.filetree-nav-item:hover {
    cursor: pointer;
}

#create-note-btn {
    background-image: url('../assets/add-file.svg');
    background-size: contain;
}

#create-folder-btn {
    background-image: url('../assets/add-folder.svg');
    background-size: contain;
}

#files-container {
    height: calc(100vh - 40px);
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid var(--border-primary);
}

.file-card {
    width: 100%;
    height: auto;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    font-size: 0.5rem;
}

.file-card:hover {
    background-color: var(--secondary-hover);
    color: var(--font-hover);
}

.file-card.folder {
}

.file-card-header {
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 0 4px;
}

.file-card-img {
    height: 14px;
    width: 14px;
    opacity: 0.7;
}

.file-name {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.folder-contents {
    display: none;
    flex-direction: column;
    padding-left: 12px;
}

.folder-contents.showing-contents {
    display: flex;
    background-image: url('../assets/folder-open.svg');
}

.drag-over.file-card {
    background-color: var(--bg-tertiary);
    border-left: 2px solid var(--gold);
}


.temp-card {
  position: relative;
  padding-left: 0;
}

.temp-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(-1 * var(--indent, 0px));
  width: calc(100% + var(--indent, 0px));
  border: 3px solid var(--border-primary);
  border-radius: var(--border-radius-small);
  pointer-events: none;
  z-index: 0;
}

.temp-card-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--gold);
    outline: none;
    font-size: 13px;
    flex-grow: 1;
    color: var(--font-primary);
    caret-color: var(--caret);
}

.selected-file {
    background-color: var(--bg-primary);
    color: var(--font-hover);
}

#pinned {
    border-right: 1px solid var(--border-secondary);
    border-bottom: 1px solid var(--border-primary);
    padding: 10px;
}

.method-menu {
    height: 500px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-large);
    gap: var(--padding-large);
}

.method-menu-search {
  width: 100%;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-secondary);
  border-radius: var(--border-radius-medium);
  padding: 4px;
  padding-left: var(--padding-large);
  height: 10%;
  font-size: 1.1rem;
  color: var(--font-primary);
}

.method-menu-output {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.method-menu-item {
  height: 50px;
  width: 100%;
  border: 1px solid var(--border-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.method-menu-item:hover {
  cursor: pointer;
}

.method-menu-item:hover, .method-menu-item * {
  text-decoration: underline;
}

/* empty state */
.filetree-empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.filetree-empty-state-kanji {
    font-size: 5rem;
    margin: 0;
    color: var(--accent);
}

.filetree-empty-state-text {
    margin: 0;
    text-align: center;
    width: 80%;
}
