@import url('./themes.css');

.settings-open {
    display: flex;
    height: 500px;
    width: 800px;
    background-color: var(--bg-tertiary);
    border: 2px solid var(--border-primary);
    color: var(--font-tertiary);
    z-index: var(--menu-z-index);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#settings-btn {
    background-image: url('../assets/settings.svg');
    background-position: center;
    background-size: contain;
}

.settings-select,
.settings-input {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    width: 150px;
    color: var(--font-primary);
    height: 30px;
    padding: 5px;
}

.settings-btn {
    height: 30px;
    color: var(--font-primary);
    width: auto;
    padding: 5px;
    border: 1px solid var(--border-secondary);
    background-color: var(--bg-secondary);
}

.settings-btn:hover,
.settings-remove-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.settings-remove-btn {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-secondary);
    color: var(--font-primary);
}

#close-settings-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#close-settings-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#settings-output {
    width: 70%;
    height: 100%;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-width: 0;
}

#settings-output::-webkit-scrollbar {
    display: none;
}

#settings-nav {
    width: 30%;
    height: 100%;
    background-color: var(--bg-secondary);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid var(--border-secondary);
}

.settings-nav-item {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-primary);
}

.settings-nav-item:hover {
    cursor: pointer;
    color: darkgrey;
    text-decoration: underline;
    background-color: var(--primary-active);
}

.pack-select {
    border: 1px solid black;
    height: 200px;
}

/*// Daily Notes settings menu ////////////*/
.daily-preset-input {
    width: 100%;
    height: 500px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    padding: 25px;
    color: var(--font-primary);
    font-family: var(--font);
}

.settings-closed {
    display: hidden;
    height: 0;
    width: 0;
}
