@import url('./themes.css');

#right-sidebar {
    height: 100vh;
    width: 400px;
    transition: width 0.3s ease;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    padding: 0;
    border-left: 1px solid var(--border-primary);
    z-index: 101;
}

#right-sidebar-btn {
    z-index: 202;
    position: fixed;
    top: 5px;
    right: 5px;
    background-image: url(../assets/sidebar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    aspect-ratio: 1;
    border: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}

#right-sidebar.closed-sidebar {
    width: 0px;
    overflow: hidden;
    box-shadow: none;
}

#right-sidebar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 0;
}

.sidebar-nav-item {
    height: 30px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar-nav-item:hover {
    cursor: pointer;
}

#sidebar-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    min-height: 0;
    padding: 15px;
    gap: 15px;
    height: 100%;
}

/* module styling */

.add-module-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-secondary);
    min-height: 150px;
    color: var(--font-secondary);
}

.add-module-btn:hover {
    cursor: pointer;
}

.module-menu {
    height: auto;
    width: 100px;
    display: flex;
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
    gap: 5px;
    background-color: white;
}

.module-menu-item {
    width: 50px;
    aspect-ratio: 1;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.module-menu-item:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.module {
    width: 100%;
    flex: 1;
    border-radius: 10px;
    position: relative;
    border: 1px solid grey;
    max-height: 33%;
    background-color: var(--bg-primary);
}

.delete-module-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: inherit;
}

/* module styling */
.in-sidebar {
    max-height: 30%;
}
