@import url('./themes.css');

.tab-menu {
    border: 1px solid var(--border-primary);
    background-color: var(--bg-secondary);
    z-index: 200;
    color: var(--font-primary);
    padding: 5px;
}

.tab-menu-item {
    width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
    padding: var(--padding-small);
    gap: 5px;
    font-size: 1rem;
    font-size: 13px;
}

.tab-menu-item:hover {
    cursor: pointer;
    background-color: var(--bg-primary);
}

.tab-menu-img {
    height: 100%;
    aspect-ratio: 1;
}

.add-tab-btn {
    border: none;
    background-color: transparent;
    height: 80%;
    color: var(--font-primary);
}

.add-tab-btn:hover {
    cursor: pointer;
    color: var(--font-secondary);
}
