:root {
    --bg-primary: #F5F0E6;
    --bg-secondary: #ede8dc;
    --bg-tertiary: #E3E3DE;
    --bg-four: #E3E3E3;
    --bg-image: url('https://wallpapercave.com/wp/wp15660269.jpg');
    --color-glass: rgba(217, 222, 210, 0.8);

    --accent: #C8402B;

    --font: 'Noto Serif JP', serif;
    --font-primary: #1c1a17;
    --font-secondary: #2E2E2E;
    --font-hover: #8c6a4e;
    --font-tertiary: #9a9a98;

    --border: rgba(0, 0, 0, 0.1);
    --border-primary: #d7d7d7;
    --border-tertiary: #242424;
    --border-radius-small: 4px;
    --border-radius-medium: 6px;
    --border-radius-large: 10px;

    --padding-small: 4px;
    --padding-medium: 8px;
    --padding-large: 12px;

    --menu-z-index: 200;

    --hover-dark: #101010;

    --cedar-hover: #f0e6d0;
    --primary-active: #cfc9ba;
    --icon-color: #AB963F;
}

:root .dark {
    --bg-primary: #292929;
    --bg-secondary: #1C1C1C;
    --bg-tertiary: #101010;
    --bg-four: #121212;

    --accent: #C8402B;

    --font: 'Noto Serif JP', serif;
    --font-primary: #CFCFCF;
    --font-secondary: #BABABA;
    --font-hover: #8c6a4e;
    --font-tertiary: #9a9a98;

    --border: rgba(0, 0, 0, 0.1);
    --border-primary: #454545;
    --border-secondary: #454545;
    --border-tertiary: #242424;
    --border-radius-small: 4px;
    --border-radius-medium: 6px;
    --border-radius-large: 10px;

    --padding-small: 4px;
    --padding-medium: 8px;
    --padding-large: 12px;

    --hover-dark: #101010;
    --primary-active: #cfc9ba;
    --icon-color: #5a5a5a;
}


.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--icon-color);
  -webkit-mask: var(--icon) no-repeat center / contain;
  mask: var(--icon) no-repeat center / contain;
}

.icon-btn:hover {
  background-color: grey;
  cursor: pointer;
}

/* fonts */
:root .Noto-Serif-JP {
    --font: 'Noto Serif JP', serif;
}

:root .Yuji-Syuku {
    --font: 'Yuji Syuku';
}

:root .Shippori-Mincho {
    --font: 'Shippori Mincho';
    --font-size: 1.1rem;
}

:root .Zen-Old-Mincho {
    --font: 'Zen Old Mincho';
    --font-size: 1.1rem;
}

:root .Kosugi-Maru {
  --font: 'Kosugi-Maru';
  --font-size: 1.1rem;
}
* {
    box-sizing: border-box;
}
