@import url('./themes.css');

.toast-el {
    z-index: 500;
    height: 50px;
    width: 400px;
    border: 3px solid var(--border-tertiary);
    background-color: var(--bg-tertiary);
    color: var(--font-tertiary);
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    border-radius: var(--border-radius-medium);
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-confirm {
    height: 500px;
}

